.Rproj.user
.Rhistory
.RData
.Ruserdata

data/semi_clean/Office\.sp_EntityIDofficeHistoryLagged\.txt

data/semi_clean/Contract\.sp_ContractEntityID\.txt

data/semi_clean/Office\.sp_ProdServOfficeHistoryLagged\.txt

data/semi_clean/Contract\.sp_ContractExercisedOptions\.txt

data/semi_clean/Office\.OfficeIDhistoryNAICS_fy\.txt

data/clean/Office\.OfficeIDhistoryNAICS_fy\.txt

data_raw/gsa_sci/FY2017 Service Contract Inventory\.xlsx

data/semi_clean/Office\.sp_EntityIDofficeHistoryLaggedConst\.txt

data/semi_clean/Office\.sp_ProdServOfficeHistoryLaggedConst\.txt
