.Rproj.user
.Rhistory
.RData
.Ruserdata

data/semi_clean/Office\.sp_EntityIDofficeHistoryLagged\.txt

data/semi_clean/Contract\.sp_ContractEntityID\.txt

data/semi_clean/Office\.sp_ProdServOfficeHistoryLagged\.txt

data/semi_clean/Contract\.sp_ContractExercisedOptions\.txt

data/semi_clean/Office\.OfficeIDhistoryNAICS_fy\.txt

data/clean/Office\.OfficeIDhistoryNAICS_fy\.txt

data_raw/gsa_sci/FY2017 Service Contract Inventory\.xlsx

data/semi_clean/Office\.sp_EntityIDofficeHistoryLaggedConst\.txt

data/semi_clean/Office\.sp_ProdServOfficeHistoryLaggedConst\.txt

scripts/Contract\.SP_ContractSampleCriteriaDetailsCustomer\.txt

data/semi_clean/Contract\.SP_ContractCloseOutExamination\.txt

data/semi_clean/Contract\.SP_ContractSampleCriteriaDetailsCustomer\.txt

data/semi_clean/Contract\.sp_ContractEntityID\.rda

data/semi_clean/Contract\.sp_ContractExercisedOptions\.rda

data/semi_clean/end_research\.rda

data/semi_clean/Office\.sp_ProdServOfficeHistoryLaggedConst\.rda

data/semi_clean/Office\.sp_OfficeHistoryCapacityLaggedConst\.rda

data/semi_clean/Office\.sp_EntityIDofficeHistoryLaggedConst\.rda

data/clean/def_serv_opt_code\.do

data/clean/def_serv_opt\.dat

data/clean/def_serv_sample1m\.dat

data/clean/def_serv_sample1m_code\.do

data/clean/def_serv_sample250k\.dat

data/clean/def_serv_sample250k_code\.do

data/semi_clean/Defense_Office\.sp_OfficeHistoryNAICS\.txt
