/****** Script for SelectTopNRows command from SSMS  ******/
alter view ProductOrServiceCode.CFTEfactorPSC1avg
as 
SELECT   [PSC]
      --,[PSC_Description]
      --,[Contract_Invoiced_Amount]
      --,[Number_of_Contractor_FTEs]
      ,avg(coalesce([CFTE_Rate],1/[CFTE_Factor])) as AvgCFTE_Rate
      ,avg([CFTE_Factor]) as AvgCFTE_Factor
      ,[OCO_GF]
      --,[Fiscal_Year]
      --,[Direct_Non_Labor_Cost]
      --,[Direct_Labor_Dollars]
      --,[Location_Count]
      ,[IsRnDdefenseSystem]
  FROM [ProductOrServiceCode].[CFTEfactorPSC1]
  where CFTE_Factor is not null
  group by [PSC],[OCO_GF],[IsRnDdefenseSystem]
  